<h1>Welcome <%= current_user.humanize_username %>!</h1>

<%= button_to "Discover Movies", '#' %>

<div class="friends">
  <h4>Friends Section</h4>
</div>

<div class="parties">
  <h4>Viewing Parties Section</h4>
</div>