/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: large;
  background-color: black;
  margin: 0px;
  padding: 1em;
}

nav a:link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav a:visited {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav a:hover {
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

nav a:active {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

.movie-details {
  padding: 35px;
}

.title-and-view-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.summary {
  padding-left: 15px;
  padding-right: 15px;

}

.cast {
  padding-left: 15px;
  padding-right: 15px;
}

.cast-list {
  display: flex;
  justify-content: space-evenly;
}

.review {
  padding: 5px;
  margin: 5px;
  border: solid;
}

.upcoming {
  display: flex;
}

.upcoming-movie img {
  width: 50%;
}
