.party_detail {
  border-style: solid;
  border-width: 1px;
  background: rgb(247, 247, 247);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 3em;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}