<center>
  <h1>Welcome <%= current_user.humanize_username %>!</h1>
  <%= button_to 'Find Top Rated Movies', movies_path, params: {q: 'top rated'}, method: :get %>

  <h3>OR</h3>
  <div class="search_movie_form">
    <%= render partial: './search_form' %>
  </div>
</center>
